/**
 * Main
 * =================================
 * Main should just be a few specific edits tailwind couldn't handle / anything that didn't need a full partial.
 *
 *
 */

.ruda {
  font-family: "Ruda", sans-serif;
}

.roboto {
  font-family: "Roboto Slab", serif;
}

/* stylelint-disable selector-max-id */
#particles-js {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -2;
}
/* stylelint-enable selector-max-id */

.massive {
  font-size: 11em;
}

@media screen and (min-width: 64em) {
  .massive {
    font-size: 15em;
  }
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px #bb86fc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(187, 134, 252);
  background: radial-gradient(
    circle,
    rgba(187, 134, 252, 1) 0%,
    rgba(229, 209, 255, 1) 100%
  );
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(187, 134, 252);
  background: radial-gradient(
    circle,
    rgba(187, 134, 252, 1) 0%,
    rgba(196, 147, 255, 1) 100%
  );
}
